---
---

@import "{{ site.theme }}";

nav {
  display: block;
  height: 30px;
  background: #eee;

  a {
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid grey;
  }
  a:last-child {
    border: none;
  }
}